spring:
  datasource:
    url: jdbc:postgresql://${POSTGRESQL_DB_HOST}:5432/mow
    username: ${POSTGRESQL_DB_USERNAME}
    password: ${POSTGRESQL_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
spring.jpa:
  database: postgresql
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  hibernate.ddl-auto: create-drop
  properties:
    hibernate:
      temp.use_jdbc_metadata_defaults: false
      default_schema: public
#logging.level:
#  org.hibernate.tool.hbm2ddl: DEBUG
#  org.hibernate.SQL: DEBUG
#  org.hibernate.type: TRACE